# Python Variables ‚Äî Data Science Roadmap

## What is a Variable?
A variable is a container that stores data in memory.  
You can think of it like a label stuck onto a value.

## Python Variable Syntax

variable_name = value (anything any datatypes , we will discuss datatype next notebook)

In [5]:
x = 10 
y = 0.1
z = "Hello, World!"
is_active = True
data = [1, 2, 3, 4, 5]
config = {"host": "localhost", "port": 8080}

### how to know the datatype 

by make use of type() function provide by python , lets check the above varibales datatype

In [8]:
type(x)  # int

int

In [9]:
type(y)  # float

float

In [10]:
type(z)

str

In [11]:
type(z)

str

In [12]:
type(is_active)

bool

In [13]:
type(data)

list

In [14]:
type(config)

dict

### üîπ **Variable Naming Rules**
- Must start with a letter or underscore (`_`)
- Cannot start with a number  
- Cannot contain spaces  
- Cannot use special characters (`@`, `#`, `-`, `%`, etc.)  
- Case-sensitive (`name` and `Name` are different)

In [15]:
# ### ‚úÖ **Valid Examples**

In [16]:
first_name = "Venu"
speed_kmph = 60
_temperature = 98.6
user1 = "Daniel"

In [17]:
type(_temperature)

float

### ‚ùå **Invalid Examples**

1name = "Venu" # cannot start with number

user-name = "Venu" # hyphen not allowed

user name = "Venu" # spaces not allowed

### üîπ **Multiple Assignment**

In [18]:
a, b, c = 1, 2, 3
x = y = z = "same value"

In [20]:
print(a, b, c )

1 2 3

In [23]:
print(x, y, z)

same value same value same value

In [24]:
print("this is a valid variable name")

this is a valid variable name

In [25]:
print("varibale names are case sensitive")

varibale names are case sensitive

### üìò Mathematical Operations with Variables in Python

Python allows you to perform arithmetic calculations using variables just like a calculator.

---

## ‚û§ **Basic Arithmetic Operators**

| Operator | Meaning | Example | Result |
|---------|---------|---------|--------|
| `+` | Addition | `a + b` | Adds values |
| `-` | Subtraction | `a - b` | Difference |
| `*` | Multiplication | `a * b` | Product |
| `/` | Division | `a / b` | Returns float result |
| `//` | Floor Division | `a // b` | Removes decimals |
| `%` | Modulus | `a % b` | Remainder |
| `**` | Exponent (power) | `a ** b` | a raised to b |

#### Addition

In [26]:
x = 5
y = 10
total = x + y
print("Total:", total)

Total: 15

#### Subtration

In [28]:
x = 10
y = 5
print("subtraction:", x - y)

subtraction: 5

#### multiplication

In [29]:
print("multiplication:", x * y)

multiplication: 50

#### division

In [30]:
print("division :",x / y)

division : 2.0

In [31]:
print("division without folt values ", x // y)

division without folt values  2

In [32]:
print("remainder :", x % y)

remainder : 0

In [33]:
print("square :", x ** 2)

square : 100

In [34]:
print("exponentiation :", x ** y)

exponentiation : 100000

#### concatinating the with "+" operator

In [37]:
first_name = "shankar"
last_name = "Mahadevan"

# Combine first and last names into a full name
full_name = first_name + last_name
print("Full Name:", full_name)

Full Name: shankarMahadevan

## lets discuss about the string data

In [44]:
full_name = first_name + " " + last_name
print("Full Name with space:", full_name)

Full Name with space: shankar Mahadevan

In [46]:
full_name = f"{first_name} {last_name}"
print(full_name)

shankar Mahadevan

In [48]:
age = 25
print(f"{first_name} {last_name} is {age} years old.")

shankar Mahadevan is 25 years old.

# üéµ String Indexing in Python (Example: "Shankar Mahadevan")

A **string** in Python is a sequence of characters.  
Each character has a **position** called an *index*.

Python supports two types of indexing:

- **Positive Indexing** ‚Üí counts from the front (starting at 0)  
- **Negative Indexing** ‚Üí counts from the end (starting at -1)

Let's use the name **"Shankar Mahadevan"** to understand indexing.

---

## üîπ Positive Indexing (0, 1, 2, ...)

In [49]:
full_name

'shankar Mahadevan'

In [50]:
full_name[0]

's'

In [51]:
len(full_name)

17

In [52]:
full_name[16]

'n'

In [53]:
print(full_name[0])   # S
print(full_name[1])   # h
print(full_name[7])   # space
print(full_name[8])   # M
print(full_name[16])  # n

s
h

M
n

### üìå Negative Indexing Row (for `full_name = "Shankar Mahadevan"`)

## Characters:
S   h   a   n   k   a   r       M   a   h   a   d   e   v   a   n

## Negative Indexes:
-17 -16 -15 -14 -13 -12 -11 -10  -9 -8 -7 -6 -5 -4 -3 -2 -1

In [54]:
full_name[-1]

'n'

In [55]:
full_name[-2]

'a'

In [56]:
full_name[-17]

's'

#### Combine positive and negative indexing for understanding

In [57]:
print(full_name[0], full_name[-17])   # S S
print(full_name[8], full_name[-9])    # M M
print(full_name[16], full_name[-1])   # n n

s s
M M
n n